.Page8 {
  
  margin: 0 auto;

  a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
  }

  .clearfix:after {
    clear: both;
  }

  /* 헤더 */
  #header {
    width: 100%;
    height: 53px;
  }

  .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .header {
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background: rgb(247, 219, 219);
    font-weight: bold;

    h1 {
      float: left;
      margin: 0;

      em {
        display: inline-block;
        padding: 8px 8px 0 8px;

        img {
          width: 45px;
          height: 35px;
        }
      }

      strong {
        display: block;
        position: absolute;
        left: 60px;
        top: 5px;

        img {
          width: 120px;
        }
      }
    }

    /* 네비게이션 */
    #mNav {
      position: absolute;
      display: none;
      top: 13px;
      right: 29px;
    }

    .ham {
      position: relative;
      display: block;
      width: 27px;
      height: 20px;
      padding: 5px;

      span {
        position: relative;
        display: block;
        width: 25px;
        height: 5px;
        background: rgb(250, 168, 148);
      }

      span:before {
        position: absolute;
        left: 0;
        bottom: -7px;
        content: '';
        width: 25px;
        height: 5px;
        background: rgb(250, 168, 148);
      }

      span:after {
        position: absolute;
        left: 0;
        bottom: -14px;
        content: '';
        width: 25px;
        height: 5px;
        background: rgb(250, 168, 148);
      }
    }

    .nav {
      float: right;

      li {
        display: inline-block;
        width: 103px;
        text-align: center;
        padding: 0;
        border-left: 1px solid #c6c6c6;

        a {
          display: block;
          padding: 14px 0px;
          font-size: 17px;
        }
      }
    }
  }

  /* 배너 */
  #banner {
    position: relative;
  }

  .banner_menu {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;

    a {
      color: #fff;
      font-size: 16px;
      transition: all .3s ease;
    }

    a:hover {
      color: #c1c1c1;
    }

    ul {
      margin: 10px 10px;
    }

    li {
      display: inline;
      position: relative;
      z-index: 2;
    }

    li.line {
      margin-right: 30px;
    }

    li.line:after {
      content: '';
      width: 1px;
      height: 14px;
      background: #fff;
      position: absolute;
      top: 6px;
      right: -10px;
    }

    .bm_left {
      float: left;
      
      ul {
        padding-top: 8px;
      }

      li {
        margin-right: 20px;
      }

      li.total a {
        font-size: 14px;
        padding: 3px 10px;
        display: inline-block;
        border: 1px solid #fff;
        transition: all .3s ease;
      }

      li.total a:hover {
        background: #fff;
        border-color: #000;
        color: #000;
      }
    }
    
    .bm_right {
      float: right;
      overflow: hidden;

      ul {
        float: left;
      }

      ul:first-child {
        padding-top: 8px;
      }

      li {
        text-align: center;
        margin-right: 18px;
      }

      li:last-child {
        margin-right: 0;
      }

      li.white {
        margin-right: 10px;
      }

      li.white a {
        display: inline-block;
        width: 80px;
        background: #fff;
        color: #3a0e6a;
        padding: 7px 30px 9px 30px;
        border: 1px solid #fff;
      }

      li.purple {
        margin-right: 0px;
      }

      li.purple a {
        display: inline-block;
        width: 80px;
        background: #3a0e6a;
        color: #fff;
        padding: 7px 30px 9px 30px;
        border: 1px solid #6e40c4;
      }
    }
  }

  .slider {
    position: relative;
    width: 100%;

    img {
      width:100%;
    }

    .container {
      h2 {
        position: absolute;
        top: 40px;
        left: 30px;
        padding: 1px 5px;
        font-size: 30px;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);
      }
  
      p {
        position: absolute;
        top: 91px;
        left: 30px;
        padding: 0 5px;
        font-size: 20px;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }

  /* 반응형 */
  @media screen and (min-width: 1440px) {
    width: 1280px;
  }

  @media screen and (max-width: 1439px) {
    width: 100%;

    .header .nav li {
      width: 94px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .bm_left {
      display: none;
    }

    .bm_right ul:first-child {
      display: none;
    }

    .slider{
      .container {
        h2 {
          position: absolute;
          top: 40px;
          left: 30px;
          font-size: 24px;
        }
    
        p {
          position: absolute;
          top: 82px;
          left: 30px;
          font-size: 15px;
        }
      }
    }
  }  
  
  @media screen and (max-width: 960px) {
    .nav {
      display: none;
    }

    .header {
      text-align: center;

      #mNav {
        display: block ;
      }

      h1 {
        float: none;

        strong {
          display: inline-block;
          position: static;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {

  }  

  @media screen and (max-width: 600px) {
    .banner_menu .bm_right li.white a {
      font-size: 14px;
      padding: 3px 5px 5px 5px;
      color: #fff;
      background: rgba(0, 0, 0, 0.6);
      border-color: #fff;
    }

    .banner_menu .bm_right li.purple a {
      font-size: 14px;
      padding: 3px 5px 5px 5px;
      color: #fff;
      background: rgba(0, 0, 0, 0.6);
      border-color: #fff;
    }
  }  

  @media screen and (max-width: 480px) {
    .header h1 strong {
      display: none;
    }
  }  
}