.Page8 {
  
  margin: 0 auto;

  a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
  }

  .clearfix:after {
    clear: both;
  }
  
  /* ir 효과 */
  .ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;}

  /* 아이콘 */
  .icon {
    background-image: url(../img/movie-icon.png);
  }

  /* 헤더 */
  #header {
    width: 100%;
    height: 53px;
  }

  .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .header {
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    background: rgb(247, 219, 219);
    font-weight: bold;

    h1 {
      float: left;
      margin: 0;

      em {
        display: inline-block;
        padding: 8px 8px 0 8px;

        img {
          width: 45px;
          height: 35px;
        }
      }

      strong {
        display: block;
        position: absolute;
        left: 60px;
        top: 5px;

        img {
          width: 120px;
        }
      }
    }

    /* 네비게이션 */
    #mNav {
      position: absolute;
      display: none;
      top: 13px;
      right: 29px;
    }

    .ham {
      position: relative;
      display: block;
      width: 27px;
      height: 20px;
      padding: 5px;

      span {
        position: relative;
        display: block;
        width: 25px;
        height: 5px;
        background: rgb(250, 168, 148);
      }

      span:before {
        position: absolute;
        left: 0;
        bottom: -7px;
        content: '';
        width: 25px;
        height: 5px;
        background: rgb(250, 168, 148);
      }

      span:after {
        position: absolute;
        left: 0;
        bottom: -14px;
        content: '';
        width: 25px;
        height: 5px;
        background: rgb(250, 168, 148);
      }
    }

    .nav {
      float: right;

      li {
        display: inline-block;
        width: 103px;
        text-align: center;
        padding: 0;
        border-left: 1px solid #c6c6c6;

        a {
          display: block;
          padding: 14px 0px;
          font-size: 17px;
        }

        a:hover {
          background: rgb(202, 184, 184);
        }
      }
    }
  }

  /* 배너 */
  #banner {
    position: relative;
  }

  .banner_menu {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;

    a {
      color: #fff;
      font-size: 16px;
      transition: all .3s ease;
    }

    a:hover {
      color: #c1c1c1;
    }

    ul {
      margin: 10px 10px;
    }

    li {
      display: inline;
      position: relative;
      z-index: 2;
    }

    li.line {
      margin-right: 30px;
    }

    li.line:after {
      content: '';
      width: 1px;
      height: 14px;
      background: #fff;
      position: absolute;
      top: 6px;
      right: -10px;
    }

    .bm_left {
      float: left;
      
      ul {
        padding-top: 8px;
      }

      li {
        margin-right: 20px;
      }

      li.total a {
        font-size: 14px;
        padding: 3px 10px;
        display: inline-block;
        border: 1px solid #fff;
        transition: all .3s ease;
      }

      li.total a:hover {
        background: #fff;
        border-color: #000;
        color: #000;
      }
    }
    
    .bm_right {
      float: right;
      overflow: hidden;

      ul {
        float: left;
      }

      ul:first-child {
        padding-top: 8px;
      }

      li {
        text-align: center;
        margin-right: 18px;
      }

      li:last-child {
        margin-right: 0;
      }

      li.white {
        margin-right: 10px;
      }

      li.white a {
        display: inline-block;
        width: 80px;
        background: #fff;
        color: #3a0e6a;
        padding: 7px 30px 9px 30px;
        border: 1px solid #fff;
      }

      li.purple {
        margin-right: 0px;
      }

      li.purple a {
        display: inline-block;
        width: 80px;
        background: #3a0e6a;
        color: #fff;
        padding: 7px 30px 9px 30px;
        border: 1px solid #6e40c4;
      }
    }
  }

  .slider {
    position: relative;
    width: 100%;

    img {
      width:100%;
    }

    .container {
      h2 {
        position: absolute;
        top: 40px;
        left: 30px;
        padding: 1px 5px;
        font-size: 30px;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);
      }
  
      p {
        position: absolute;
        top: 91px;
        left: 30px;
        padding: 0 5px;
        font-size: 20px;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }

  /* 영화상영표 */
  #movie {
    padding: 0 10px;
  }

  .movie_title_top {
    display: none;
  }

  .movie {
    padding: 20px 0;
    background: #fff;

    .movie_title {
      margin-bottom: 20px;
      text-align: center;

      ul {
        overflow: hidden;
        width: 848px;
        margin: 0 auto;
      }
      
      li {
        float: left;
        width: 210px;
        text-align: center;
        border: 1px solid #c4c4c4;
        margin-right: -1px;
      }

      li a {
        display: block;
        padding: 15px 0;
        font-size: 18px;
        color: #666;
        font-weight: 700;
      }

      li a:hover {
        background-color: #ececec;
      }
      
      li.active a {
        background-color: #666;
        color: #fff;
      }
    }

    .movie_chart {

      .chart_cont {
        display: flex;
        justify-content: space-between;
      }

      > div > div {
        display: inline-block;
      }

      .poster {
        position: relative;
        padding: 0 10px;
      }

      figure {
        margin: 0;
      }

      img {
        display: block;
        width: 100%;
      }

      .rank {
        position: absolute;
        top: 10px;
        left: 17px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: #38116a;
        text-align: center;
        box-shadow: 7px 3px 3px #000;

        strong {
          color: #fff;
        }
      }

      .mx {
        position: absolute;
        top: 17px;
        right: 17px;
        
        span {
          width: 103px;
          height: 25px;
          display: block;
        }

        .m {
          background-position: 0 -75px;
        }

        .b {
          background-position: 0 -100px;
        }
      }

      .infor {
        background: #fff;
        padding: 12px;
        border: 1px solid #d9d9d9;

        h3 {
          color: #333;
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 20px;

          span {
            display: inline-block;
            width: 29px;
            height: 29px;
            margin: 9px 9px 0 0;
          }

          span.a12 {
            background-position: 0 -125px;
          }

          span.a15 {
            background-position: -29px -125px;
          }
          
          span.a19 {
            background-position: -58px -125px;
          }

          span.all {
            background-position: -87px -125px;
          }
        }

        .infor_btn {
          display: flex;
          justify-content: space-between;
        }

        .infor_btn a {
          display: block;
          width: 45%;
          background: #f2f2f2;
          font-size: 18px;
          padding: 15px 3px;
          margin: 0 3px;
          text-align: center;
          font-weight: 700;
        }

        .infor_btn a:hover {
          background: #c9c9c9;
        }
      }
    }
  }
  
  /* 이벤트 */
  .event {
    overflow: hidden;
    margin: 10px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 10px 0 10px 0;
    }
    
    .event_left {
      float: left;
      width: 66%;
      margin-right: 2%;

      .event_box1 {
        float: left;
        width: 50%;
      }

      .event_box2 {
        float: left;
        width: 50%;
      }
    }
    
    .event_right {
      float: left;
      width: 32%;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  /* 오프닝 */
  #opening {
    margin: 10px 0;
  }

  .opening {
    background: url(../img/movie_bg.jpg) no-repeat center top;
    background-size: cover;
    margin: 10px;
    text-align: center;
    color: #bb9b01;
    padding: 100px 0;
    overflow: hidden;

    h2 .grand {
      background-position: 0 -175px;
      display: inline-block;
      width: 330px;
      height: 50px;
    }

    .date {
      background-position: 0 -225px;
      display: inline-block;
      width: 260px;
      height: 45px;
    }
    
    .desc {
      font-size: 30px;
      font-weight: 300;
      padding: 20px;
      margin: 0 10px 50px 10px;
      background: url(../img/movie_bar.png) no-repeat bottom center;
      background-size: 100%;
    }
    
    .open_box {
      display: flex;
      justify-content: space-evenly;

      > div {
        position: relative;
        margin: 0 auto;
        width: 25%;
        padding: 10px 0px;
        border: 2px solid #3e4b44;
        background: rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
      }

      > div h3 {
        position: absolute;
        left: 50%;
        top: -35px;
        transform: translateX(-50%);
        width: 60%;
        color: #fff;
        border: 1px solid #6e3abb;
        border-radius: 10px;
        background: rgb(90, 57, 139);
        font-size: 19px;
      }

      > div p {
        display: flex;
        flex-direction: column;
      }
    }
  }

  /* 새로운 영화 */
  #newmovie {
    margin: 10px;
  }

  .newmovie {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
    h2 {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .new_left {
      position: relative;
      width: 100%;
      height: 400px;
      background: url("../img/movie_new.jpg") bottom center;
      background-size: cover;
    }

    .new_left:hover .play {
        background: rgba(255, 255, 255, 0.4);
        color: rgba(255,255,255,0.4);
    }

    .new_left .play {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
      font-size: 50px;
      color: rgba(255,255,255,0.5);
    }
    
    .new_left .play:hover {
      background: rgba(255, 255, 255, 0.5);
      color: rgba(255,255,255,0.7);
    }
    
    .new_right {
      width: 500px;
      height: 400px;
      margin-left: 10px;
      background: #ddd;

      .info {
        margin: 10px;

        .name {
          font-size: 24px;
          font-weight: bold;
        }

        .score {
          margin: 10px 0;
          font-size: 20px;
          font-weight: bold;
        }
        
        .score span {
          display: inline-block;
          width: 19px;
          height: 19px;
        }
        
        .score .num1 {
          background-position: 605px 0;
        }

        .score .num2 {
          background-position: 605px 0;
        }

        .score .num3 {
          background-position: 605px 0;
        }

        .score .num4 {
          background-position: 586px 0;
        }

        .score .num5 {
          background-position: 625px 0;
          margin-right: 10px;
        }

        .desc {
          white-space: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
        }
      }

      .ticket {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 10px;
        font-weight: bold;

        .date {
          width: 45%;
          height: 30px;
          text-align: center;
          background: rgb(44, 44, 44);
          border : 1px solid #000;
          color: white;
          margin: 5px;
        }
        
        .time {
          width: 45%;
          height: 34px;
          text-align: center;
          background: rgb(44, 44, 44);
          border : 1px solid #000;
          color: white;
          margin: 5px;
        }
        
        .address {
          width: 100%;
          height: 30px;
          background: rgb(44, 44, 44);
          border : 1px solid #000;
          color: rgb(187, 187, 187);
          margin: 5px;
        }
        
        .btn {
          display: flex;
          justify-content: space-between;
          width: 100%;
          text-align: center;
        }

        .white {
          display: inline-flex;
          justify-content: center;
          width: 45%;
          height: 30px;
          background: #ffffff;
          border : 1px solid #a167af;
          color: #a167af;
          margin: 5px;
        }

        .purple {
          display: inline-flex;
          justify-content: center;
          width: 45%;
          height: 30px;
          background: #a167af;
          border : 1px solid #ffffff;
          color: #ffffff;
          margin: 5px;
        }
      }
    }
  }

  /* 헬프 */
  .help {
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 30px;
      margin: 10px 0;
    }

    article {
      width: 32%;

      > div {
        border: 1px solid #dbdbdb;
        height: 350px;
      }
    }
  }

  /* 공지사항 */
  .notice {
    padding: 17px;
    
    ul {
      display: flex;
      overflow: hidden;
    }

    ul li {
      text-align: center;
    }

    ul li a {
      display: inline-block;
      border: 1px solid #dbdbdb;
      font-size: 15px;
      color: #666;
      padding: 10px 20px;
      background-color: #f5f5f5;
      margin-right: -1px;
    }

    ul li.active a {
      background: #fff;
    }

    .content {
      flex-wrap: wrap;

      li {
        width: 100%;
        margin-top: 20px;
        padding-bottom: 5px;
        text-align: left;
        border-bottom: 1px solid #dbdbdb;
        
        strong {
          display: inline-block;
          padding: 0 10px 0 0;
        }
        
        em {
          display: inline-block;
        }
        
        span {
          display: block;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  /* 할인 카드 */
  .card {
    padding: 17px;
    
    li {
      height: 100px;
      position: relative;
      border: 1px solid #dbdbdb;
      margin: 5px;
      overflow: hidden;
    }

    img {
      position: absolute;
      top: 17px;
      left: 17px;
    }
    
    strong {
      display: block;
      padding-left: 130px;
      padding-top: 17px;
    }
    
    em {
      display: block;
      padding-left: 130px;
      font-size: 13px;
    }
  }

  /* 고객 센터 */
  .service {
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50%;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 20px;
    }

    li a {
      text-align: center;
    }

    span {
      display: block;
      width: 100px;
      height: 100px;
      margin: 5px auto;
    }

    .sv1 {
      background-position: 0px -267px;
    }

    .sv2 {
      background-position: -100px -267px;
    }

    .sv3 {
      background-position: -201px -267px;
    }

    .sv4 {
      background-position: -300px -267px;
    }

    li:nth-child(1) {
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
    }

    li:nth-child(2) {
      border-bottom: 1px solid #dbdbdb;
    }

    li:nth-child(3) {
      border-right: 1px solid #dbdbdb;
    }
  }

  /* 푸터 */
  #footer {
    position: relative;
    background: #211f1f;
  }

  .footer_sns {
    position: absolute;
    right: 17px;
    top: 33px;
    z-index: 1;

    li {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin-left: 4px;
    }

    li.s1 {background-position: 0 -375px;}
    li.s2 {background-position: -36px -375px;}
    li.s3 {background-position: -72px -375px;}
    li.s4 {background-position: -108px -375px;}
    li.s5 {background-position: -144px -375px;}
    li.s1:hover {background-position: 0 -411px;}
    li.s2:hover {background-position: -36px -411px;}
    li.s3:hover {background-position: -72px -411px;}
    li.s4:hover {background-position: -108px -411px;}
    li.s5:hover {background-position: -144px -411px;}

    .tel {
      text-align: right;
      padding-top: 5px;
    }

    .tel a {
      color: #8f8f8f;
      font-size: 21px;
    }

    .tel a em {
      color: #fff;
    }

  }


  .footer_info {
    padding: 30px 0;
    margin: 0 auto;
    width: 80%;
    h2 img {
      width: 150px;
    }

    ul {
      padding: 15px 0;
    }

    li {
      position: relative;
      display: inline;
      padding-right: 16px;
      white-space: nowrap;
    }

    li:not(:first-of-type):after {
      content: '';
      position: absolute;
      left: -6px;
      top: 7px;
      width: 1px;
      height: 13px;
      background-color: #8f8f8f;
    }

    li a {
      color: #8f8f8f;
    }

    address {
      color: #8f8f8f;
      padding-bottom: 15px;
    }
  }

  /* 트레일러 */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
  }
  
  .modal {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .trailer {
    width: 100%;
    height: 100%;
  }
  
  .react-player {
    position: absolute;
    left: -10%;
    top: -15%;
  }

  .react-player > div {
    position: absolute;
  }

  .modal_close {
    background: url(../img/movie_close.svg) no-repeat;
    background-size: 32px 32px;
    border: 0;
    color: transparent;
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: absolute;
    top: 24px;
    right: 24px;
    text-indent: 100%;
  }

  .modal_on {
    overflow: hidden;
  }

  /* 반응형 */
  @media screen and (min-width: 1440px) {
    width: 1280px;
  }

  @media screen and (max-width: 1439px) {
    width: 100%;

    .header .nav li {
      width: 94px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .bm_left {
      display: none;
    }

    .bm_right ul:first-child {
      display: none;
    }

    .slider{
      .container {
        h2 {
          position: absolute;
          top: 40px;
          left: 30px;
          font-size: 24px;
        }
    
        p {
          position: absolute;
          top: 82px;
          left: 30px;
          font-size: 15px;
        }
      }
    }

    .help {
      flex-wrap: wrap;
      justify-content: space-evenly;

      article {
        width: 48%;
      }

      .help_box3 {
        width: 96%;
      }

      .service{
        height: 175px;

        li {
          height: 100%;
          width: 25%;
        }

        li:nth-child(1) {
          border-right: none;
          border-bottom: none;
        }
    
        li:nth-child(2) {
          border-bottom: none;
        }
    
        li:nth-child(3) {
          border-right: none;
        }
      }
    }
  }  
  
  @media screen and (max-width: 960px) {
    .nav {
      display: none;
    }

    .header {
      text-align: center;

      #mNav {
        display: block ;
      }

      h1 {
        float: none;

        strong {
          display: inline-block;
          position: static;
        }
      }
    }

    .movie .movie_title ul {
      width: auto;
      display: flex;
      justify-content: center;
    }
    
    .movie .movie_title li {
      width: 23%;
    }

    .movie .movie_chart .infor .infor_btn a {
      font-size: 14px;
    }

    .opening {
      padding: 50px 0;
    }

    .opening .open_box {
      display: none;
    }
    
    .opening .desc {
      font-size: 23px;
      background: none;
    }

    .newmovie .new_right .info .name {
      font-size: 20px;
    }

    .footer_sns {
      position: static;
      text-align: center;
      padding-bottom: 15px;
      background-color: #352c2c;

      .tel {
        display: none;
      }
    }

    .footer_info {
      width: 100%;
      text-align: center;
    }

  }

  @media screen and (max-width: 768px) {
    background: #d9d7e0;

    .movie_title_top {
      display: block;
      padding: 5px 20px;
      font-size: 24px;
      font-weight: bold;
    }
    
    .movie .movie_title {
      ul {
        position: relative;
        display: flex;
        padding-bottom: 10px;
        transition: all .3s ease;
      }

      ul:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: #e1e1e1;
      }

      li {
        width: auto;
        border: 0;
      }

      li a {
        position: relative;
        font-size: 18px;
        color: #666;
        font-weight: 400;
        padding: 0 10px;
        margin: 0 auto;
      }

      li.active a:before {
        position: absolute;
        content: '';
        z-index: 2;
        left: 0;
        bottom: -10px;
        height: 2px;
        width: 100%;
        background: #666;
      } 

      li.active a {
        background: none;
        color: #666;
      }
    }
    
    .event .event_left {
      width: 100%;
    }

    .event .event_right {
      display: none;
    }

    .opening {
      padding: 30px 0;
    }

    .opening .desc {
      font-size: 18px;
      margin: 0 auto;
    }

    .newmovie {
      display: block;

      .new_left {
        width: 100%;
      }

      .new_right {
        width: 100%;
      }
    }

    .newmovie .new_right .info .name {
      white-space: nowrap;
      font-size: 15px;
    }

    .newmovie .new_right .info .desc {
      -webkit-line-clamp: 2;
    }

    .newmovie .new_right .ticket {
      .date {
        width: 100%;
      }

      .time {
        width: 100%;
      }
    }

    .help {
      flex-wrap: wrap;
      justify-content: space-evenly;

      > article {
        width: 95%;
        margin: 10px;
        background-color: #fff;

        > div {
          border: none;
        }
      }
      
      h3 {
        font-size: 20px;
        margin: 10px 10px 0 15px;
      }

      .help_box3 h3 {
        display: none;
      }

      .service{
        height: 250px;

        span {
          width: 100px;
          height: 100px;
        }

        li {
          width: 50%;
          height: 50%;
          font-size: 15px;
        }
        
        li:nth-child(1) {
          border-right: 1px solid #dbdbdb;
          border-bottom: 1px solid #dbdbdb;
        }
    
        li:nth-child(2) {
          border-bottom: 1px solid #dbdbdb;
        }
    
        li:nth-child(3) {
          border-right: 1px solid #dbdbdb;
        }
      }
    }
  }  

  @media screen and (max-width: 600px) {
    .banner_menu .bm_right li.white a {
      font-size: 14px;
      padding: 3px 5px 5px 5px;
      color: #fff;
      background: rgba(0, 0, 0, 0.6);
      border-color: #fff;
    }

    .banner_menu .bm_right li.purple a {
      font-size: 14px;
      padding: 3px 5px 5px 5px;
      color: #fff;
      background: rgba(0, 0, 0, 0.6);
      border-color: #fff;
    }

    .slider{
      .container {
        h2 {
          position: absolute;
          top: 20px;
          font-size: 20px;
        }
    
        p {
          display: none;
        }
      }
    }

    .movie .movie_title li a {
      font-size: 13px;
    }

    .movie .movie_chart .infor {
      text-align: center;
      
      h3 {
        margin:  0 auto;
        padding: 0;
      }

      h3 span {
        display: none;
      }

      h3 strong {
        font-size: 20px;
      }

      .infor_btn a {
        margin: 0 auto;
      }

      .infor_btn a:last-child {
        display: none;
      }
    }

    .opening {
      padding: 10px 0;
    }

    .opening h2 {
      margin: 0 auto;
    }

    .opening h2 .grand {
      background-size: 300px;
      background-position: 0 -105px;
      width: 197px;
      height: 24px;
    }

    .opening .date {
      display: none;
    }

    .opening .desc {
      padding: 0 5px;
    }
  }  

  @media screen and (max-width: 480px) {
    .header h1 strong {
      display: none;
    }

    .movie .movie_title li a {
      font-size: 11px;
    }
  }  
}