#container {
  width: 95%;
  margin: 0 auto;

  > header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    button {
      width : 100px;
      height : 30px;
      margin: 20px;
    }
  }

  > section {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
}